@use "./variables" as *;

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $darkBlue;
  margin: 1rem;
  border: 1px solid $yellow;
  box-shadow: 5px 5px 10px $yellowShadow;
  h1{
    font-size: 7rem;
    margin: 2.5rem;
  }
}